<div class="container-fluid">
  <mat-card>
    <div class="row">
      <div class="col-lg-12">
        <div style="background-color: midnightblue;padding:10px">
          <h1 style="font-family: cursive;color:white;text-align:center">BROKER</h1>
        </div>
        <br>
        
        <div class="container">
          <div [hidden]=" error != 'success' " class="alert alert-success">{{error}}</div>
          <div [hidden]=" error == 'success' || !error " class="alert alert-danger">{{error}}</div>
          <form>
            <div class="row">
              <div class="col lg-6">
                Name <input type="text" name='name' class="form-control" [(ngModel)]="name"  >
              </div>
              <div class="col lg-6">
                Email <input type="email" name="email" class="form-control" [(ngModel)]="email">
              </div>
            </div>
            <div class="row">
              <div class="col lg-6">
                City <input type="text"  name='city' class="form-control" [(ngModel)]="city">
              </div>
              <div class="col lg-6">
                State <select name="state" class='form-control' [(ngModel)]="state">
                  <option value='none'>Select</option>
                  <option *ngFor="let i of stateName" value={{i.stateName}}>{{i.stateName}}</option>                  
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col lg-6">
                Address Line1 <input type="text" name='addl1'  class="form-control" [(ngModel)]="addl1">
              </div>
              <div class="col lg-6">
                Address  Line2 <input type="text"  name='addl2'  class="form-control" [(ngModel)]="addl2">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                Commission <input type="text"  name='commission' class="form-control" [(ngModel)]="commission">
              </div>
            </div><br>
            <!-- edit
            <input type="hidden" name="editId" > -->
              <div class="row">
                <div  class="col-lg-6">
                 <input *ngIf="length==0" type="submit" class="btn btn-primary btn-block"  value="Save" (click)="onSubmit($event)">
                 <input *ngIf="length!=0" type="submit" class="btn btn-warning btn-block" name='submit' value="Update" (click)="onUpdate($event)">
                </div>
                <div class="col-lg-6">
                  <input type="reset" class="btn btn-danger btn-block" (click)="reset($event)" name='cancel' value='Cancel'>
                </div>
              </div>
          </form>
        </div>
      </div>
      <!-- <div class="col-lg-6">
          <canvas baseChart
          [datasets]="ChartData"
          [labels]="ChartLabels"
          [options]="ChartOptions"
          [legend]="true"
          [chartType]="'pie'">
  </canvas>
      </div> -->
    </div>
  </mat-card>
</div>

<br>
<app-table (editInfo)="recieve($event)"></app-table>